*.pyc
tmp*
*.log
*.res
*results
.tm_properties
.DS_Store
*.tar.gz
nbnn*
old
scratchdisk
bcal*
bgraz*
*.job.*
*.png
VOCdevkit
VOCresults
Caltech
TUDmotorbikes
*.aux
*.bbl
*.blg
*.dvi
*.out
*.pdf
*.ps
*.synctex.gz
comp*
*.tgz
*_tmp*/
*_res*/
*.sh.*